
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;500;800");
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  70% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes animebar {
  0% {
    opacity: 1;
    transform: translatex(0%);
  }
  70% {
    opacity: 1;
    transform: translatex(250%);
  }
  100% {
    opacity: 1;
    transform: translatex(400%);
  }
}
@keyframes animebar2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
body {
  font-family: "Roboto", "arial";
  width: 100%;
  margin: 0px;
}

.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: white;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 4px 5px 7px 1px lightgrey;
}
.card__h4 {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}
.card__p {
  margin-bottom: 5px;
  margin-top: 5px;
}
.card__body {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.card__img {
  display: flex;
  align-items: center;
  object-fit: cover;
  flex-wrap: wrap;
  width: 100%;
  height: 45vw;
  margin-bottom: 5px;
  border-radius: 10px 10px 0 0;
}
.card__picto {
  display: flex;
  visibility: visible;
  align-items: center;
  font-size: 25px;
  color: black;
  opacity: 1;
  transition: opacity 1s;
}
.card .picto2 {
  display: flex;
  position: relative;
  left: -25px;
  align-items: center;
  font-size: 25px;
  color: #c120cc;
  opacity: 0;
  transition: opacity 1s 500ms;
  transform-origin: left;
}

.testanimation {
  display: flex;
  align-items: center;
}
.testanimation:hover .card__picto {
  opacity: 0;
}
.testanimation:hover .picto2 {
  opacity: 1;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
}
.nav__picto {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 20px;
  margin-left: 20px;
}
.nav__header {
  font-weight: bold;
  margin-left: 5%;
}
.nav__button {
  border: none;
  color: white;
  border-radius: 50%;
  background: #9356DC;
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  margin-top: auto;
  margin-bottom: auto;
}
.nav__li {
  background: #f8f8f8;
  border-radius: 20px;
  width: 85%;
  margin: auto;
  margin-bottom: 10px;
  box-shadow: 4px 5px 7px 1px lightgrey;
}
.nav__li:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.nav__li:hover .nav__picto {
  color: #9356DC;
}
.nav ol {
  padding: 0px;
  list-style-type: circle;
}

.X {
  animation: fadein 500ms 4s ease-in-out backwards;
}

.loader {
  border-top: 16px solid #FF79DA;
  border-bottom: 16px solid #9356DC;
  border-radius: 50%;
  box-shadow: 4px 4px 4px 4px lightgrey;
  width: 120px;
  height: 120px;
  animation: spin 3s linear backwards;
  position: fixed;
  top: 100px;
  opacity: 0;
}

.pour-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  height: 20px;
  width: 500px;
  background: #F8F8F8;
  border-radius: 25px;
  box-shadow: 4px 5px 7px 1px lightgrey;
  position: fixed;
  opacity: 0;
  top: 300px;
  animation: animebar2 3s linear;
}

.bar2 {
  height: 20px;
  width: 100px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  position: fixed;
  opacity: 0;
  animation: animebar 1s linear 3 alternate-reverse;
}

@media screen and (min-width: 988px) {
  .carte-restaurant {
    display: flex;
    justify-content: space-around;
  }

  .card {
    width: 20%;
  }

  .card__img {
    height: 14vw;
  }
}
@media screen and (max-width: 768px) {
  .bar {
    width: 50%;
  }

  .bar2 {
    width: 10%;
  }
}
.container-menu {
  background: #f8f8f8;
}

.btn--modif {
  position: relative;
  top: -36px;
  position: relative;
  top: -36px;
  width: 40%;
  justify-content: center;
}

.card--modif {
  box-shadow: none;
  background: #f8f8f8;
}

.card-Menu {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  background: white;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 4px 5px 7px 1px lightgrey;
}
.card-Menu--anim-0 {
  animation: fadein 2s ease-in;
  animation-delay: 0ms;
  animation-fill-mode: backwards;
}
.card-Menu--anim-1 {
  animation: fadein 2s ease-in;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}
.card-Menu--anim-2 {
  animation: fadein 2s ease-in;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}
.card-Menu__body {
  min-width: 100%;
  transition: all 1s linear;
}
.card-Menu__p {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}
.card-Menu__price {
  display: flex;
  align-items: end;
  padding-bottom: 5px;
  margin-right: 20px;
}
.card-Menu:hover .card-Menu__body {
  min-width: 80%;
}
.card-Menu:hover > .rotate {
  transform: translateX(0px);
}
.card-Menu:hover > .rotate span {
  transform: rotate(0deg);
}
.card-Menu div {
  padding: 5px 0px 0px 5px;
}

.menu {
  position: relative;
  top: -49px;
  border-radius: 30px 30px 0px 0px;
}
.menu__h2 {
  font-family: "Shrikhand";
}
.menu__titre {
  margin-bottom: 0px;
}

h3 + hr {
  margin: 5px 0px 10px 0px;
  width: 15%;
  height: 3px;
  background-color: #99E2D0;
  border: none;
}

.rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  height: auto;
  width: 20%;
  transform: translateX(100%);
  z-index: 1;
  transition: transform 500ms linear;
}
.rotate span {
  transform: rotate(-360deg);
  transition: transform 500ms 400ms ease-out;
}

.rotate-validate {
  font-size: 30px;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 988px) {
  .plat-menu {
    display: flex;
    justify-content: space-around;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header__img {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.header__background {
  background: #EDEDED;
  width: 100%;
}
.header__background--greyLight {
  background: #F7F7F7;
  width: 100%;
}
.header__picto {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.header__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__titre {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.header__text {
  text-align: center;
  font-size: 18px;
  color: #707070;
}
.header__btn {
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 40px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  color: white;
  box-shadow: 4px 5px 7px 1px lightgrey;
}
.header__btn:hover {
  filter: brightness(120%);
}

.footer {
  background: #393939;
}
.footer__picto {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 20px;
}
.footer__img {
  width: 25%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

#mail {
  color: white;
}

footer {
  padding: 20px;
  line-height: 23px;
}
footer ul {
  list-style: none;
  color: white;
  padding-left: 0px;
}
footer li {
  margin-top: 5px;
}

section {
  background: #f8f8f8;
  padding-bottom: 80px;
  padding: 25px;
}

.row {
  display: flex;
}

.justify-content__around {
  justify-content: space-around;
  width: 100%;
}
.justify-content__between {
  justify-content: space-between;
}
.justify-content__center {
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
