.footer{
  @include backgroundPrincipale($color-primary, 75%);
  &__picto{
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 20px;
  }
  &__img{
    width: 25%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);    
  }
}

#mail{
  color: white;
}

footer{
  padding: 20px;
  line-height: 23px;
  ul {
  list-style:none;
  color: white;
  padding-left: 0px;
  }
  li {
    margin-top:5px
  }
}
